body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: black;
  color: white;
}

.nav {
  background: #111;
  padding: 15px;
  text-align: center;
}

.nav a {
  color: gold;
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
}

h1 {
  color: gold;
}

.section {
  padding: 40px;
  text-align: center;
}

.btn {
  background: gold;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
}
