body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #000;
  color: #fff;
}

header {
  background: url('https://images.unsplash.com/photo-1534447677768-be436bb09401') center/cover;
  padding: 80px 20px;
  text-align: center;
}

h1 {
  color: gold;
  font-size: 42px;
}

.nav {
  background: #111;
  padding: 15px;
  text-align: center;
}
.nav {
  background: black;
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid gold;
}

.nav a {
  color: gold;
  margin: 15px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.nav a:hover {
  color: white;
}

.nav a {
  color: gold;
  margin: 10px;
  text-decoration: none;
}

.btn {
  background: gold;
  color: black;
  padding: 10px 20px;
  margin: 10px;
  display: inline-block;
  text-decoration: none;
}

.section {
  padding: 50px 20px;
  text-align: center;
}
